# Ignore bundler config.
/.bundle
# Heroku bundler
vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/spec/tmp

# Ignore redis dump file
dump.rdb

# Lint files
.eslintrc

# Ignore files created by testing and CI tools
.rspec
coverage*

# DB Config
config/database.yml

.DS_Store