# Ignore bundler config.
/.bundle
# Heroku bundler
vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/spec/tmp

# RVM
.ruby-gemset

# Lint files
.eslintrc

# Ignore files created by testing and CI tools
.rspec
coverage*

# DB Config
config/database.yml
