<% if current_user.liked? comment %>
    <%= link_to unlike_chatroom_broadcast_comment_path(comment.broadcast.chatroom, comment.broadcast, comment), class: 'thumb_btn rmv_btn unlike_broadcast', method: :get, remote: true do %>
        <span class="rmv_thumb">Thumbed up</span><p class="v_count"><%= comment.get_likes.size %></p>
    <% end %>
<% else %>
    <%= link_to like_chatroom_broadcast_comment_path(comment.broadcast.chatroom, comment.broadcast, comment), class: "thumb_btn like_broadcast", method: :get, remote: true do %>
        <span>Thumbs up</span><p class="v_count"><%= comment.get_likes.size %></p>
    <% end %>
<% end %>
