<div class="inbox_message inv_friend_div">
    <div class="msg_from_pic">
        <%= image_tag 'pb.png' %>
        <%= image_tag 'pb.png' %>
    </div>
    <div class="msg_info_from">
        <h5>Username</h5>
    </div>
</div>