<div class="chatroom_info_window">
    <h4>Tags</h4>
    <h5>Most used tags in this chatroom</h5>
    <div class="used_tags_list">
        <a href="#">#5v5</a>
        <a href="#">#Teammacth</a>
        <a href="#">#Rank</a>
        <a href="#">#Diamond</a>
        <a href="#">#Custom</a>
        <a href="#">#LeagueofLegends</a>
        <a href="#">#LFTeam</a>
        <a href="#">#RankedGame</a>
        <a href="#">#Custom</a>
    </div>
    <h5>Use following commands to get in touch with admins</h5>
    <div class="admins_at_list">
        <a href="#">@Adminname</a>
        <a href="#">@username</a>
        <a href="#">@user</a>
        <a href="#">@usernametwo</a>
    </div>
</div>
