<div class="chatroom_info_window">
    <h4>About</h4>
    <p><%= @room.description %></p>
    <div class="chatroom_info_icons">
    </div>
    <div class="chatroom_info_icons border_bottom">
        <i class="fa fa-globe"></i>
        <span class="small_dot">·</span>
        <i class="fa fa-calendar-o"></i><span class="small_size">Chatroom created <%= distance_of_time_in_words(Time.now, @room.created_at) %> ago.</span>
    </div>
    <h5>Chatroom administator</h5>
    <div class="admin_list">
        <div class="admin_img_status">
            <%= image_tag @room.user.avatar.url(:thumb) %>
            <% if @room.user.last_seen_at > 10.minutes.ago %>
                <div class="admin_status_icon">
                </div>
            <% else %>
                <div class="admin_status_icon" id="offline_icon">
                </div>
            <% end %>
        </div>
    </div>
</div>
