<div class="main_footer">
	<div class="container">
		<div class="main_footer_grid">
			<div class="footer_grid_1">
				<span class="footer_logo">
				</span>
				<ul>
					<li><b>Connect with the world today.</b></li>
					<li>World's best social chatroom for gamers. Hashtag based chatsystem let's you find people with the same purpose.</li>
				</ul>
				<span class="copyright">
					© 2015 Chatroom Guru.
				</span>
			</div>

			<div class="footer_grid_2">
				<ul>
					<li><span class="ion-ios-game-controller-b"></span><b>Chatroom</b></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">About The Chatroom</a></li>
					<li><a href="#">Advertise</a></li>
					<li><a href="#">Team</a></li>
				</ul>
			</div>
			<div class="footer_grid_2">
				<ul>
					<li><i class="fa fa-suitcase"></i><b>Company</b></li>
					<li><a href="#">About The Company</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Cookie Policy</a></li>
				</ul>
			</div>
			<div class="footer_grid_2">
				<ul>
					<li><i class="fa fa-life-ring"></i><b>Support</b></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">FAQs</a></li>
				</ul>
				<br>
				<br>
				<i class="fa fa-globe"></i>
				<span class="language">
					<a href="#">
						Select Language
					</a>
				</span>
			</div>

		</div>
	</div>
</div>