    <div class="nav_login_false">
        <div class="container">
            <div class="nav_logoarea">
                <a href="<%= root_path %>"><%= image_tag "mainlogosmall2.png" %>CHATROOM</a>
            </div>
                <!-- <li><a href="#"><span class="ion-university"></span>Learn More</a></li> -->
                <div class="ul">
                    <div class="li">
                        <div class="main_login_box" id="small_login_drop">
                        <div class="arrow_up"></div>
                        <h5 class="main_login_h5">Username or Email</h5>
                        <input tabindex="1" accesskey="u" name="username" type="text" maxlength="30" id="input_username" />
                        <h5 class="main_login_h5">Password</h5>
                        <input tabindex="2" accesskey="p" name="password" type="password" maxlength="15" id="input_password" />
                        <label for="keep_login_checkbox"><input type="checkbox" name="keeplogged" value="true" id="keep_login_checkbox" checked><p id="keep_login_p">Keep me logged in.</p></label>
                        <input tabindex="3" accesskey="l" type="submit" name="cmdlogin" value="Login" id="input_login_btn">
                    </div>
                    <a href="#" id="nav_login_btn">
                        <span class="ion-ios-unlocked"></span>
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
