<div class="room_title_area">
    <h2><%= @room.title %></h2>
    <div class="chat_title_info">
        <p><i class="fa fa-gamepad"></i>Game: <%= @room.game.name %></p>
        <p> |</p>
        <p><i class="fa fa-keyboard-o"></i>Platform: Computer</p>
        <p> |</p>
        <p><i class="fa fa-users"></i>Current users: 105</p>
    </div>
</div>
