<!-- USER LIST USER POP -->
<div class="inbox_message user_list_col">
  <div class="msg_from_pic">
    <%= image_tag 'pb.png' %>
  </div>
  <div class="msg_info_from user_list_pos">
    <h5><%= locals[:user].username %></h5>
    <span class="match_title">matching with:</span>
    <h6>12:49</h6>
  </div>
  <div class="inbox_msg_area user_list_pos">
    <div class="used_tags_list user_list_tag">

      <% locals[:user].active_tags.each do |tag| %>
        <a href="#"><%= tag %></a>
      <% end %>

    </div>
    <span class="view_msg_user view_tog" id="view_msg_user">View message<i class="fa fa-angle-right"></i></span>
    <span class="view_msg_user hide_msg_user" id="hide_msg_user">Hide message<i class="fa fa-angle-up"></i></span>
    <i class="fa fa-user-plus add_friend_user_list"><span class="upside_tooltip_box follow_tool no_wrap tool_before_follow noselect" id="small_btns_pos">
      Add friend<div class="arrow-left"></div>
    </span></i>
    <i class="fa fa-paper-plane add_friend_user_list inv_friend_user_list"><span class="upside_tooltip_box follow_tool no_wrap tool_before_follow noselect" id="small_btns_pos">
      Invite<div class="arrow-left"></div>
    </span></i>
  </div>
  <div class="user_list_msg_area">
    <p>" This is a message taken from the chat window. #5v5 #diamond #ranked. Please add me as friend or invite me. "</p>
  </div>
</div>
<!-- END -->
