<div class="main_header_bg">
    <div class="container">
        <div class="main_inside_header">
            <h1 class="center_h1">Connect with the world today.</h1>
            <h4 class="center_h4">Join the world's best social chatroom for gamers.</h4>

            <div class="header_btn_area">
                <a href="<%= new_user_registration_path %>" class="default_btn" id="header_signup_btn">Sign Up<a/>
                <a href="<%= new_user_session_path %>" class="default_btn" id="header_login_btn">Log in</a>
                <h5 class="main_header_h5"><span class="ion-ios-help-outline"></span> What is chatroom.guru? <a href="#"><b>Learn more</b></a> here.</h5>
            </div>
        </div>
    </div>
</div>
<div class="fillbody">
</div>