<div class="main_header_bg">
  <video controls muted autoplay loop poster="cookies.jpg" id="bg-video">
    <source src="./assets/background-ani.mp4" type="video/mp4">
</video>
    <div class="container">
        <div class="main_inside_header">
            <h1 class="center_h1">Connect with the world today.</h1>
            <h4 class="center_h4">Join the world's best social chatroom for gamers.</h4>

            <div class="header_btn_area">
                <a href="<%= new_user_registration_path %>" class="default_btn" id="header_signup_btn"><i class="fa fa-user-plus"></i>Sign Up<a/>
                <a href="<%= new_user_session_path %>" class="default_btn" id="header_login_btn"><i class="fa fa-sign-in"></i>Log in</a>
                <h5 class="main_header_h5"><span class="ion-ios-help-outline"></span> What is chatroom.guru? <a href="#"><b>Learn more</b></a> here.</h5>
            </div>
        </div>
    </div>
</div>
<div class="main_index_body">
  <div class="container">
    <div class="col-md-12 i_main_sec">
      <h2>Hashtag based chatsystem</h2>
      <h5>Find people with the same purpose quick and easy.</h5>
      <div class="splitter_light"></div>
      <div class="col-md-12">
        <div class="col-md-2 col-md-offset-2 i_img_wrap">
            <h3>User 1</h3>
            <div class="p_picture">
                <%= image_tag "pb.png" %>
            </div>
        </div>
        <div class="col-md-4 i_msg_wrap">
            <div class="col-md-11 i_msg msg_one">
                <p>Looking for team practice fight <span class="c_tag">#LOL</span> <span class="c_tag mat">#5v5</span> <span class="c_tag mat">#Diamond</span></p>
            </div>
            <div class="msg_corner_l">
            </div>
            <div class="col-md-11 col-md-offset-1 i_msg msg_two">
                <p>Looking for oppenents to fight my team <span class="c_tag mat">#5v5</span> <span class="c_tag mat">#Diamond</span> <span class="c_tag">#Match</span></p>
            </div>
            <div class="msg_corner_r">
            </div>
        </div>
        <div class="col-md-2 i_img_wrap">
            <h3>User 2</h3>
            <div class="p_picture">
                <%= image_tag "pb.png" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
