<% if user_signed_in? %>
    <div class="container" id="container2">
        <div class="body_fill_area">
            <div class="g_tag_header">
	        	<h2>Hey, <%= current_user.username.capitalize %>!</h2>
	        	<h5>Go explore & find people with same interests or purpose as yourself.</h5>
	        </div>
	        <div class="splitter_light"></div>
	        <div class="row">
	        	<div class="col-md-7 l_sec">
	        	<div class="tabs" id="p_chat_tabs">
	    			<ul class="nav nav-tabs tabs_d">
	  					<li role="presentation" class="active"><a class="alink" href="#tab1"><i class="fa fa-thumbs-up"></i>Recommended</a></li>
	  					<li role="presentation"><a class="alink" href="#tab3"><i class="fa fa-heart"></i>Favorite</a></li>
					</ul>

					<div class="tab_content h_tab">
						<div id="tab1" class="tab_d active">
	            			<div class="chat_ad_div">
	                    		<h6>Chatroom Title</h6>
	                    		<div class="chat_ad_go">
	                        		<p>Go<i class="fa fa-angle-right"></i></p>
	                    		</div>
	                    		<div class="chat_ad_tag">
	                        		<i class="fa fa-tag"></i><span>League of legends</span><span class="small_dot">·</span><span>5v5</span><span class="small_dot">·</span><span>Platinum</span>
	                    		</div>
	                    		<div class="chat_title_info small_title_info">
	                        		<p><i class="fa fa-gamepad"></i>League of Legends</p><span class="small_dot">·</span>
	                    			<p><i class="fa fa-users"></i>80</p><span class="small_dot">·</span><p><i class="fa fa-keyboard-o"></i>Computer</p>
	                    		</div>
	                		</div>

	                		<div class="chat_ad_div">
	                    		<h6>Chatroom Title</h6>
	                    		<div class="chat_ad_go">
	                        		<p>Go<i class="fa fa-angle-right"></i></p>
	                    		</div>
	                    		<div class="chat_ad_tag">
	                        		<i class="fa fa-tag"></i><span>League of legends</span><span class="small_dot">·</span><span>5v5</span><span class="small_dot">·</span><span>Platinum</span>
	                    		</div>
	                    		<div class="chat_title_info small_title_info">
	                        		<p><i class="fa fa-gamepad"></i>League of Legends</p><span class="small_dot">·</span>
	                    			<p><i class="fa fa-users"></i>80</p><span class="small_dot">·</span><p><i class="fa fa-keyboard-o"></i>Computer</p>
	                    		</div>
	                		</div>

	                		<div class="chat_ad_div">
	                    		<h6>Chatroom Title</h6>
	                    		<div class="chat_ad_go">
	                        		<p>Go<i class="fa fa-angle-right"></i></p>
	                    		</div>
	                    		<div class="chat_ad_tag">
	                        		<i class="fa fa-tag"></i><span>League of legends</span><span class="small_dot">·</span><span>5v5</span><span class="small_dot">·</span><span>Platinum</span>
	                    		</div>
	                    		<div class="chat_title_info small_title_info">
	                        		<p><i class="fa fa-gamepad"></i>League of Legends</p><span class="small_dot">·</span>
	                    			<p><i class="fa fa-users"></i>80</p><span class="small_dot">·</span><p><i class="fa fa-keyboard-o"></i>Computer</p>
	                    		</div>
	                		</div>
	                		<div class="chat_ad_div">
	                    		<h6>Chatroom Title</h6>
	                    		<div class="chat_ad_go">
	                        		<p>Go<i class="fa fa-angle-right"></i></p>
	                    		</div>
	                    		<div class="chat_ad_tag">
	                        		<i class="fa fa-tag"></i><span>League of legends</span><span class="small_dot">·</span><span>5v5</span><span class="small_dot">·</span><span>Platinum</span>
	                    		</div>
	                    		<div class="chat_title_info small_title_info">
	                        		<p><i class="fa fa-gamepad"></i>League of Legends</p><span class="small_dot">·</span>
	                    			<p><i class="fa fa-users"></i>80</p><span class="small_dot">·</span><p><i class="fa fa-keyboard-o"></i>Computer</p>
	                    		</div>
	                		</div>

	        			</div>
	        			<div id="tab3" class="tab_d">
	            			<div class="chat_ad_div">
	                    		<h6>Favorite room</h6>
	                    		<div class="chat_ad_go">
	                        		<p>Go<i class="fa fa-angle-right"></i></p>
	                    		</div>
	                    		<div class="chat_ad_tag">
	                        		<i class="fa fa-tag"></i><span>League of legends</span><span class="small_dot">·</span><span>5v5</span><span class="small_dot">·</span><span>Platinum</span>
	                    		</div>
	                    		<div class="chat_title_info small_title_info">
	                        		<p><i class="fa fa-gamepad"></i>League of Legends</p><span class="small_dot">·</span>
	                    			<p><i class="fa fa-users"></i>80</p><span class="small_dot">·</span><p><i class="fa fa-keyboard-o"></i>Computer</p>
	                    		</div>
	                		</div>

	                		<div class="chat_ad_div">
	                    		<h6>Favorite room</h6>
	                    		<div class="chat_ad_go">
	                        		<p>Go<i class="fa fa-angle-right"></i></p>
	                    		</div>
	                    		<div class="chat_ad_tag">
	                        		<i class="fa fa-tag"></i><span>League of legends</span><span class="small_dot">·</span><span>5v5</span><span class="small_dot">·</span><span>Platinum</span>
	                    		</div>
	                    		<div class="chat_title_info small_title_info">
	                        		<p><i class="fa fa-gamepad"></i>League of Legends</p><span class="small_dot">·</span>
	                    			<p><i class="fa fa-users"></i>80</p><span class="small_dot">·</span><p><i class="fa fa-keyboard-o"></i>Computer</p>
	                    		</div>
	                		</div>

	                		<div class="chat_ad_div">
	                    		<h6>Favorite room</h6>
	                    		<div class="chat_ad_go">
	                        		<p>Go<i class="fa fa-angle-right"></i></p>
	                    		</div>
	                    		<div class="chat_ad_tag">
	                        		<i class="fa fa-tag"></i><span>League of legends</span><span class="small_dot">·</span><span>5v5</span><span class="small_dot">·</span><span>Platinum</span>
	                    		</div>
	                    		<div class="chat_title_info small_title_info">
	                        		<p><i class="fa fa-gamepad"></i>League of Legends</p><span class="small_dot">·</span>
	                    			<p><i class="fa fa-users"></i>80</p><span class="small_dot">·</span><p><i class="fa fa-keyboard-o"></i>Computer</p>
	                    		</div>
	                		</div>
	                		<div class="chat_ad_div">
	                    		<h6>Favorite room</h6>
	                    		<div class="chat_ad_go">
	                        		<p>Go<i class="fa fa-angle-right"></i></p>
	                    		</div>
	                    		<div class="chat_ad_tag">
	                        		<i class="fa fa-tag"></i><span>League of legends</span><span class="small_dot">·</span><span>5v5</span><span class="small_dot">·</span><span>Platinum</span>
	                    		</div>
	                    		<div class="chat_title_info small_title_info">
	                        		<p><i class="fa fa-gamepad"></i>League of Legends</p><span class="small_dot">·</span>
	                    			<p><i class="fa fa-users"></i>80</p><span class="small_dot">·</span><p><i class="fa fa-keyboard-o"></i>Computer</p>
	                    		</div>
	                		</div>
	        			</div>

					</div>

				</div>
	        	</div>
	        	<div class="col-md-4 col-md-offset-1 r_sec">
	        		<div class="friend_ac_sec">
	        			<div class="sec_title">
	        				<h4><i class="ion-ios-people"></i>Friend Activity</h4>
	        			</div>
	        			<div class="ac_wrap">
	        				<div class="activity_list">

	        				</div>
	        				<div class="activity_list">

	        				</div>
	        				<div class="activity_list">

	        				</div>
	        				<div class="activity_list">

	        				</div>
	        				<div class="activity_list">

	        				</div>
	        				<div class="activity_list">

	        				</div>
	        				<div class="activity_list">

	        				</div>
	        				<div class="activity_list">

	        				</div>
	        				<div class="activity_list">

	        				</div>
	        				<div class="activity_list">

	        				</div>
	        				<div class="activity_list">

	        				</div>
	        				<p id="msg_end_p">No more friend activity.</p>
	        			</div>
	        		</div>
	        		<div class="friend_ac_sec">
	        			<div class="sec_title">
	        				<h4><i class="fa fa-tags"></i>Popular tags</h4>
	        			</div>
	        			<div class="used_tags_list p_int_list f_tags_list">
                			<span>Gaming</span>
                			<span>Computer</span>
                			<span>Playstation 4</span>
                			<span>Xbox one</span>
                			<span>Multiplayer games</span>
                			<span>Indie</span>
                			<span>Multiplayer games</span>
                			<span>Indie</span>
                			<span>Gaming</span>
                			<span>Computer</span>
                			<span>Playstation 4</span>
                			<span>Xbox one</span>
                			<span>Multiplayer games</span>
                			<span>Indie</span>
                			<span>Multiplayer games</span>
                			<span>Indie</span>
            			</div>
	        		</div>
	        	</div>
	        </div>
        </div>
    </div>
<% else %>
    <%= render 'chatrooms/welcome' %>
<% end %>