<% if @fav %>
  <%= render 'games/favorite_games' %>
<% else %>
<div class="container" id="container2">
  <div class="body_fill_area">
    
    <div class="g_tag_header home_header">
        <h3>All Games</h3>
        </div>

        <div class="splitter_light"></div>
        
    <div class="row games_list">

    <% Game.all.each do |game| %>
      <div class="col-md-2 game_cover">
        <a href="<%= chatrooms_path(game: game.name) %>">
          <%= image_tag game.cover.url(:medium) %>
          <p>
          <%= truncate game.name, length: 35 %>
          <i class="fa fa-angle-right"></i>
          </p>
        </a>
      </div>
    <% end %>
    </div>

  </div>
</div>
<% end %>
