<div class="chat_menu_area">
    <p><i class="fa fa-smile-o"></i></p>
    <p><i class="fa fa-cog"></i></p>
</div>
<div class="chat_input_area">
    <div class="chat_input_div">
        <div class="user_chat_pb">
            <%= image_tag current_user.avatar.url(:thumb) %>
        </div>
        <%= form_for [@room, ChatMessage.new] do |f| %>
          <%= f.text_area :body, rows: 2, autofocus: true, placeholder: "Write your message here..." %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% end %>
        <button id="chat_msg_send">Send</button>
    </div>
</div>
