<div class="container" id="container2">
		<div class="body_fill_area">
		<% @broadcasts.each do |broadcast| %>
			<%= render partial: "broadcasts/show", locals: {broadcast: broadcast} %>
			<br/>
		<% end %>
		</div>
</div>
