// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.room_set {
	background-color: #E7E7E6;
    border: 1px solid #D5D5D2;
    border-bottom: 2px solid #D5D5D2;
    box-shadow: 0px 0px 1px rgba(195, 195, 195, 0.72);
    transition: 0.2s;
    margin-bottom: 20px;
    h3 {
    	color: #a0a0a0;
    	margin: 0;
    }
    a:hover {
    	color: #a0a0a0;
    }
    &:hover {
    	background-color: #EAEAEA;
    	border: 1px solid #D0CFCD;
    	border-bottom: 2px solid #D0CFCD;
    	img {
    		opacity: 1;
    	}
    	.foot {
    		background-color: #E9E7E2;
    	}
	}

    img {
    	width: 100%;
    	height: 60px;
    	opacity: 0.9;
    	transition: 0.2s;
    	border-bottom: 1px solid #D5D5D2;
    }
    p {
    	font-size: 0.9em;
    	margin: 0px;
    }
    h3 {
    	font-family: 'Viga', 'Fira Sans', 'serif';
    	font-weight: 400;
    	font-size: 1.4em;
    }
    .foot {
    	width: 100%;
	    background-color: #E4E3DE;
	    padding: 5px 10px;
	    border-top: 1px solid #D5D5D2;
	    transition: 0.2s;
    	p {
    		margin: 0px;
    	}
    	.small_dot {
    		margin-left: 10px;
    		margin-right: 10px;
    	}
    }
}


.wel_header {
	width: 100%;
	border-bottom: 1px solid rgba(213, 213, 210, 0.4);
	margin-bottom: 20px;
	padding-bottom: 10px;
	text-align: center;
	h3 {
		color: #a0a0a0;
	}
	p {
		color: #a0a0a0;
		margin: 0px;
	}
}
.go-sign {
	display: inline;
    font-size: 1.2em;
    font-weight: bold;
    right: 8%;
    bottom: 20px;
    position: absolute;
    i {
    	margin-left: 5px;
		transition: 0.3s;
		color: #FEC52E;
    }
}
.splitter {
	width: 100%;
	height: 1px;
	background-color: #D5D5D2;
	margin-top: 5px;
	margin-bottom: 5px;
}
.r_wrap {
	padding: 5px 10px;
}